*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

.home{
    background-image: url(./images/photo1.png);
    background-size: cover;
    background-position: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1em;
}

nav{
    display: flex;
    align-items: center;
    gap: 1em;
}

nav a{
    /* display: block; */
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: .2s;
    font-weight: 600;
}

nav a:hover{
    color: aquamarine;
}

.banner{
    width: 50%;
    margin-left: auto;
    padding-top: 300px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

h1{
    font-size: 3.17em;
}

h2{
    font-size: 2.5em;
}

.banner > p{
    font-size: 1.5em;
    color: #787878;
}

.button{
    width: max-content;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    background-color: #10c9c3;
    padding: 1.5em 3em;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    padding: 8em;
    text-align: center;
}

#about p{
    font-size: 1.33em;
    color: #787878;
}