*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 4fr 6fr;

}

.logo{
    display: flex;
    padding: 1rem 4rem;
    align-items: center;
    justify-content: left;
}

#menu {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    gap: 1em;
}

#menu > a{
    text-decoration: none;
    color: #191919;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: .2s;
    text-transform: uppercase;
}

#menu > a:hover{
    color: #10c9c3;
}