*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
}

/* Header */

header{
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.logo{
    display: flex;
    padding: 1rem 4rem;
    align-items: center;
    justify-content: left;
}

#menu {
    
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    gap: 1em;
    background-color: #ffffff00;
}

#menu > a{
    text-decoration: none;
    color: #191919;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: .2s;
    text-transform: uppercase;
}

#menu > a:hover{
    color: #10c9c3;
}

/* Banner */

#home{
    min-height: 670px;
    background: url(./images/photo1.png);
    background-size: cover;
    background-position: center;
}

#banner{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2em 0px auto auto;
    /* margin-right: 0; */
    /* margin-left: auto; */
    right: 0;
    padding: 1rem;
    width: 50%;
}

#banner h1{
    font-size: 2em;
    font-weight: 600;
}

#banner > div > p{
    color: #787878;
}

.contactBtn{
    max-width: fit-content;
    padding: 1rem 3rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #10c9c3;
    border: 0;
    cursor: pointer;
}

#home > img{
    /* position: absolute; */
    top: 0;
    overflow: hidden;
    z-index: -1;
}